<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<body>
    <div class="bilderDesc">
    <img
      id="zeus_1183x1600"
      src="https://1.bp.blogspot.com/-zIJPUEjCbT0/VQwn7jkJXoI/AAAAAAAAAD0/0CoV-Gi_SWg/s1600/zeus_heykeli-5.jpg"
      alt="zeus_1183x1600"
    />
    <p>Bilde fra: <a href="https://sewon7.blogspot.com/2015/03/statue-of-zeus.html">Blogpost</a><p>
    </div>
    <div class="bilderDesc">
    <img
      id="zeus_1024x1024"
      src="https://imgcdn.stablediffusionweb.com/2024/9/13/fe72f477-26b5-4fdd-8428-539111915cee.jpg"
      alt="Zeus 1024x1024"
    />
    <p>Bilde fra: <a href="https://stablediffusionweb.com/image/16828357-statue-of-zeus-at-olympia-monument">Stablediffusionweb</a></p>
    </div>
</body>
</html>