<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %> <%- include("./partials/header.ejs") %>
  <body>
    <img
      id="zeus_1183x1600"
      src="https://1.bp.blogspot.com/-zIJPUEjCbT0/VQwn7jkJXoI/AAAAAAAAAD0/0CoV-Gi_SWg/s1600/zeus_heykeli-5.jpg"
      alt="zeus_1183x1600"
    />
    <div class="description">
      <h1>Historien til Statuen:</h1>
      <p>
        Statuen av Zevs i Olympia ble skapt i det femte århundre før Kristus, i
        en tid da gresk kultur og kunst opplevde sin gullalder. Den ble laget av
        den berømte billedhuggeren Fidias, som var anerkjent som den største
        kunstneren i sin tid. Byen Olympia var et hellig sted, viet til Zevs –
        gudenes konge – og hvert fjerde år samlet grekerne seg der for å hedre
        ham gjennom de olympiske leker. For å ære ham på et verdig vis, bestemte
        man seg for å lage en statue som skulle vise hans makt og guddommelige
        storhet. Fidias og hans verksted brukte mange år på å fullføre statuen.
        Den ble reist inne i Zeus-tempelet, et av de største og mest imponerende
        templene i Hellas. Når statuen sto ferdig, ble den regnet som et
        kunstnerisk og religiøst underverk – så imponerende at den senere ble
        tatt med på listen over verdens sju underverker. Gjennom århundrene ble
        Olympia et viktig pilegrimsmål. Mennesker fra hele Hellas reiste dit for
        å se Zevs med egne øyne og vise sin respekt. Etter hvert, da den greske
        religionen ble fortrengt av kristendommen, mistet tempelet sin
        betydning. Statuen ble flyttet til Konstantinopel, men gikk dessverre
        tapt, trolig i en brann på 400-tallet e.Kr. Selv om den ikke lenger
        eksisterer, lever statuen videre i beskrivelser, mynter og kunstverk.
        Den står i dag som et evig symbol på menneskets lengsel etter å forstå
        og ære det guddommelige, og på den storheten som preget den greske
        sivilisasjonen.
      </p>
    </div>
  </body>
</html>
