<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %> <%- include("./partials/header.ejs") %>
  <body>
    <img
      id="zeus_1024x1024"
      src="https://imgcdn.stablediffusionweb.com/2024/9/13/fe72f477-26b5-4fdd-8428-539111915cee.jpg"
      alt="Zeus 1024x1024"
    />
    <div class="description">
      <h1>Om Statuen:</h1>
      <p>
        I det stille tempelet tronet Zevs i all sin prakt, et mektig symbol på
        guddommelig kraft og ro. Han satt på en trone som glitret av gull og
        elfenben, så storslått at den virket levende i lyset som sildret inn fra
        taket. Kroppen hans var lys og glatt som marmor, laget av elfenben som
        fanget lyset og reflekterte det som om selve himmelen hvilte på ham.
        Klærne hans var av gull, dekorerte med utskårne mønstre som fortalte
        historier om makt, visdom og rettferdighet. I høyre hånd holdt Zevs en
        liten statue av Nike, seiersgudinnen, som sto med utspente vinger – et
        tegn på seier og ære. I venstre hånd hvilte et langt septer, kronet med
        en ørn, fuglen som bar budskapet mellom gudene og menneskene. Ansiktet
        hans var mildt, men uendelig mektig, med et blikk som så rett gjennom
        alt levende. Det var både fred og storm i øynene hans, som om han kunne
        bestemme verdens skjebne med et eneste ord. Tronen under ham var et
        kunstverk i seg selv, pyntet med figurer av guder, løver og mytiske
        skapninger. Rundt ham duftet rommet av olje, røykelse og treverk, og
        stillheten var fylt av ærefrykt. Den som sto foran ham, kunne ikke unngå
        å føle seg liten – som om selve universets herre hvilte foran en, evig
        og urørlig.
      </p>
    </div>
  </body>
</html>
